body {
  min-height: 2000px;
}


.jumbotron {
  padding top: 2rem;
  background-color: rgb(236, 218, 218);
}


#aktivitas {
  background-color: rgb(236, 218, 218);
}

section {
  padding-top: 5rem;
}
